{% extends "base_generic.html" %}

{% block content %}
	<h1>Stock Tracker Home</h1>
	
	<p>Currently tracking {{ num_stocks }} different stocks.</p>
	
	<form method="post">
		{% csrf_token %}
		<p>Add New Stock: {{ new_stock_form.ticker }} (Enter a stock ticker, ex: AMZN) (If the stock does not show up in the list below after loading, it is likely because the entered ticker was incorrect)</p>
		<input type="submit" class="input_submit" value="Add Stock" name="add new stock">
	</form>
	
	<p>Currently tracked stocks:</p>
	<ul>
		{% for stock in all_stocks %}
			<li>
				<p><a class="stock_ticker_display" href="{{ stock.get_absolute_url }}">{{ stock.ticker}}</a></p>
			</li>
		{% endfor %}
	</ul>
{% endblock %}